* {
    font-family: Indie Flower, serif;
}

body {
  margin: 0px;
  padding: 0px;
}

div#firstdiv {
  margin: 0px;
  padding: 0px;
  background-color: snow;
}

section#start {
  width: auto;
  padding: 0px;
  margin: 0px;
  z-index: 2;
  border-top: 10px solid saddlebrown;
  border-radius: 50% 50% 30% 30%;
  border-bottom: 50px solid saddlebrown;
  background-image: url("img/family.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-color: burlywood;
}

#fishstick {
  width:100%;
  height: 180px;
  background-image: url("img/chinook.jpg");
  background-position: center;
}

#start h1, #second h1 {
  font-size: 400%;
  text-align: center;
  padding: 10px;
  margin-top: 0px;
  font-family: Indie Flower, serif;
  text-shadow: 3px 3px white;
  margin-bottom: 180px;
}

#second h1 {
  margin-bottom: 20px;
}

table {
  margin: 20px auto;
  border-spacing: 0px;
  width:auto;
  border-spacing: 20px;
  position: relative;
  top: 70px;
}

#yes {
  margin: auto;
  text-align: center;
  height: 200px;
  width:300px;
  border-radius: 90%;
  background-color: lavender;
  align-items:center;
  justify-content: center;
  display: flex;
  line-height: 240%;
  cursor: pointer;
}

#yes h2 {
  text-shadow: 1px 2px white;
  font-size: 60px;
}

#no {
  text-align: center;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 90%;
  background-color: paleturquoise;
  cursor: pointer;
}

#no h2 {
  padding-top: 9px;
  font-size: 22px;
}

td {
  text-align: center;
  border:2px solid black;
  border-radius: 30%;
  background-color: paleturquoise;
  width: 190px;
}

#start p {
  margin: 0px auto;
  margin-top: 20px;
  width: 180px;
  text-shadow: 1px 1px white;
}

.under {
  height:73.81px;
  position: relative;
  top:99px;
}

.over {
  z-index: 10;
  position: relative;
  bottom: 39px;
  cursor: pointer;
}

td.over:active {
  visibility: hidden;
}

h2 {
  font-size: 40px;
  margin: 0px;
  padding: 8px 0px;
  height: 56px;
}

#pitydafoo {
  background-image: url("img/cookiemoo.jpg");
  background-position: top;
  font-size: 22px;
}

#flyyoufoos {
  background-image: url("img/gandalf.gif");
  font-size: 22px;
}

#salmonlove {
  position: absolute;
}

#salmon {
  position: relative;
  top: 50px;
  margin: 0px auto;
  display: inline;
}

#contentsection {
  text-align: center;
  width:100%;
}

#love {
  position: relative;
  top: 30px;
  z-index: 100;
  visibility: hidden;
  display: inline;
  float: right;
}

em {
  font-size: 54px;
  text-shadow: 2px 2px pink;
}

#contentsection {
  margin-top: 350px;
  font-family: Indie Flower;
  color: #112244;
}

header h3 {
  font-family: Indie Flower, serif;
  margin-bottom: 30px;
}

header h1 {
  font-size: 42px;
  margin-bottom: 10px;
  font-family: Pacifico;
  color: black;
  text-shadow: -1px -2px navajowhite;
}

header {
  background-color: chocolate;
  margin-top: 100px;
  padding: 10px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

#seasonal {
  margin-top: 40px;
  letter-spacing: 5px;
  background-color: #ffefdd;
  border-top: 3px solid #eebb44;
  border-bottom: 3px solid #eebb44;
  padding: 10px 0px;
}

ul {
  width: auto;
  padding: 0px;
}

#postheader li {
  display: inline-block;
  margin: 20px 10px;
  width: 30%;
  background-color: white;
}

#about {
  width: 100%;
  margin: 20px auto;
  height: auto;
  border-top: 3px solid #eebb44;
  border-bottom: 3px solid #eebb44;
  background-color: #ffefdd;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: auto;
}

#about h2 {
  display: inline-block;
  margin: 50px auto;
  padding-left: 40px;
}

#about p {
  display: inline-block;
  width: 70%;
  float: right;
  padding-right: 50px;
}

footer {
  margin-top: 40px;
  width: 100%;
  clear: both;
  height: 300px;
}

#ul {
  cursor: pointer;
}

#ul li {
  display: inline;
  font-family: Quicksand;
  padding: 0px 30px;
  margin: 10px auto;
}

#ul li:hover {
  color: #772244;
}

#loclist {
  font-family: Quicksand;
  margin-top: 0px;
}

#loclist li {
  display: block;
  padding: 0px;
  margin-bottom: 40px;
}

#footerfill {
  margin-top: 60px;
}

#footerfill h3, #footerfill p {
  font-family: Quicksand;
}

#swaglist h2 {
    float: left;
    display: inline;
    margin: 40px 40px;
}

#footerfill h4, #footerfill p, #footerfill h2, #footerfill li {
  font-family: Quicksand;
}
