* {
  font-family: sans-serif;
  font-weight: lighter;
}

body {
  padding: 0px;
  border: 0px;
  background-color: #eeefea;
}

table {
  border: 2px solid black;
  margin: 20px 10px;
  background-color: #EFEFFF;
  margin-bottom: 0px;
}

#cookietable {
  /*border-top-right-radius: 92px 27px;
  border-bottom-right-radius: 92px 32px;*/
  background-image: url("crag-salmon.png");
  background-repeat: space;
  background-position: right;
}

tr {
    background-color: white;
}

td {
  outline: 2px solid darkgray;
  text-align: center;
  height: 30px;
  width:auto;
  min-width: 40px;
  border-collapse: collapse;
}

.odd {
  background-color: #EFEFFF;
}

td:first-child {
  background-color: #e3eaea;
  width: 120px;
}

#cookietable td:first-child:active {
  font-size: 70%;
  padding: 1px 1px;
}

th:first-of-type {
  font-weight: normal;
  font-variant: small-caps;
  background-color: #cacaca;
}

th:last-of-type {
  padding: 0px 3px;
}

#cookietable tr:last-child, #cookietable td:nth-child(16) {
  background-color: #edffec;
}

#horizontal #cookietable td:last-child {
  background-color: #d5d5d5;
}

#cookietable td:last-child {
  padding: 4px;
}

#cookietable tr:last-child td:nth-child(16) {
  background-color: #bbffaa;
}

th {
  outline: 2px solid darkgray;
  height: 25px;
  border-collapse: collapse;
  background-color: #e3eaea;
}

#vertical tr:first-of-type {
  background-color: #efffec;
}

#vertical tr:nth-child(16) {
  background-color: #d5d5d5;
}

#vertical tr:nth-child(16) td:last-child {
  background-color: #bbffaa;
}

#vertical th, #vertical #cookietable td:last-child {
  background-color: #e3eaea;
}

fieldset {
  width: 265px;
  height: 144px;
  background-color: #eaefef;
  margin-left: 10px;
}

legend {
  padding: 3px 20px;
  border-radius: 6%;
  border: 1px solid black;
  margin-left: 100px;
  font-weight: normal;
  font-variant: small-caps;
  background-color: #cdcdcd;
}

label {
  float:left;
  margin-bottom: 8px;
  border-bottom: 1px solid darkgray;
}

#locInput {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

input {
  float: right;
  margin-bottom: 8px;
  width: 180px;
}

.number {
  width: 60px;
  height: auto;
}

fieldset button {
  display: block;
  float:right;
  clear: both;
  margin-bottom: 7px;
}
