* {
  font-family: sans-serif;
  font-weight: lighter;
}

table {
  border: 2px solid black;
  margin-bottom: 30px;
}

.odd {
  background-color: #EFEFFF;
}

td {
  outline: 2px solid gray;
  text-align: center;
  height: 30px;
  width:auto;
  min-width: 40px;
  border-collapse: collapse;
}

td:first-child {
  background-color: gainsboro;
}

th:first-of-type {
  font-weight: bold;
  font-variant: small-caps;
  background-color: gray;
}

tr:last-child, td:last-child {
  background-color: #ffeadd;
}

td:last-child {
  min-width: 90px;
}

tr:last-child td:last-child {
  background-image: url("crag-salmon.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffaa95;
}

th {
  outline: 2px solid gray;
  height: 25px;
  border-collapse: collapse;
  background-color: gainsboro;
}
