body {
  margin: 0px;
  padding: 0px;
  background-image: url("Chocolate_chip_cookie.jpg");
}

div {
  width: auto;
}

h1 {
  font-size: 400%;
  text-align: center;
  margin-top: 300px;
  font-family: Indie Flower, serif;
  border-top: 3px solid chartreuse;
  border-bottom: 5px solid chartreuse;
  text-shadow: 3px 3px white;
  margin-bottom: 0px;
  position: ;
}

h2 {

}

table {
  margin: 20px auto;
}

td {
  text-align: center;
  padding: 0px 40px 0px 40px;
  border:2px solid black;
  border-radius: 10px;
  background-color: palegreen;
}

p {

}
